
.background {
  pointer-events: all;
  stroke:#999;
  stroke-width: 1px;
  fill: #f9f9f9;
}

.node {
  fill: #111;
}

.link {
  stroke-width:5px;
}

.force, .tempForce {
  stroke: #ADD8E6;
}

.truss, .tempTruss {
  stroke: #ddd;
}

.hidden {
  stroke-width:0px;
}

.gridline {
fill : #ffffff;
stroke: #dddddd;
shape-rendering : crispEdges;
stroke-width: 1px;
}

.rolling {
  fill: #FF4500;
}

.fixed {
  fill: #2E8B57;
}

.toolbox {
  pointer-events: none;
  fill: rgba(0,0,0,0.7)
}

.tooltext {
  fill: #ffffff;
}

.forceCircle {
  fill: #ADD8E6;
}

.forceText {
  fill: #ffffff;
}

.tension {
  stroke:#7393FF;
}

.compression {
  stroke:#A8324E;
}
